#main_monogram {
	width : 399px;
	height: auto;
}

.location-name {
	font-size: 16px;
	font-weight: bold;
}

.location-address {
	font-size: 14px;
	font-weight: normal;
}

#countdown_dashboard {
    display: inline;
}

.map {
	width: 300px;
	height: 200px;
}

#full-owl .item img{
    display: block;
    max-height: 100%;
    width: auto;
}

#fullscree-btn-row {
    display: none;
}

@media(min-width:768px) {
	#countdown_dashboard {
        display: inline;
	}
	.map {
		width: 380px;
		height: 200px;
	}
	#fullscree-btn-row {
	    display: inline;
	}
}

.cust-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}

.cust-modal .close-modal:hover {
    opacity: .3;
}

.cust-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 40px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cust-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 40px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.itemcaption {
  -webkit-transition:opacity 500ms linear;
  -moz-transition:opacity 500ms linear;
  -o-transition:opacity 500ms linear;
  -ms-transition:opacity 500ms linear;
  transition:opacity 500ms linear;
  position:absolute;
  font-family: Arial, Helvetica, sans-serif;
  bottom:0;
  left:0;
  width:100%;
  height: 100%;
  display:block;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:12px;
  letter-spacing:.1em;
  line-height:1.2;
  padding:10px;
  opacity: 0;
}

.itemcaption:hover {
  opacity: 1;
}

