<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Philip x Kristel</title>
    
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script type="text/javascript">
			$( document ).ready(function() {			    
					
					var feed = new Instafeed({
			        get: 'tagged',
			        tagName: 'philipxkristel',
					//limit: 10,
			        clientId: 'dc5e137829fe492c97668abbaa6acf0a',
			        accessToken: '1565987.467ede5.df4589b73d6d4c70803a7175f2f6192c',
			        template: '<a href="{{link}}"><img src="{{image}}" /></a>',
					//resolution: 'low_resolution',
					after: function() {
						if(this.hasNext()) {
                        	this.next(); 
                        }
						//console.log('x' + this.hasNext());
						//this.next(); 
					}
			    });
			    feed.run();
				//console.log(feed);
				//console.log(feed.hasNext());
				//feed.next();
				/*while(feed.hasNext()) {
                        	feed.next(); 
                        } */
			});
		</script>
</head>

<body id="page-top" class="index">
	<div id="instafeed"></div>

        
    <!-- Contact Form JavaScript -->
    <script src="js/instafeed.min.js"></script>

</body>

</html>
