<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Philip x Kristel</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/wedding.css" rel="stylesheet">
    
    <link href="owl/owl.carousel.css" rel="stylesheet">
    <link href="owl/owl.theme.default.min.css" rel="stylesheet">   

    
    
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
	  <script language="Javascript" type="text/javascript" src="owl/owl.carousel.min.js"></script>
    <script type="text/javascript">
			$( document ).ready(function() {
				var owl;	
				var options = {
	                loop: true,
	                margin: 10,
	                autoplay: true,
	                autoplayTimeout: 3000,
	                responsiveClass: true,
	                responsive: {
	                  0: {
	                    items: 1,
	                    nav: true
	                  },
	                  600: {
	                    items: 3,
	                    nav: false
	                  },
	                  1000: {
	                    items: 5,
	                    nav: true,
	                    loop: false,
	                    margin: 20
	                  }
	                }
	              };
					
				var feed = new Instafeed({
			        get: 'tagged',
			        tagName: 'torigrill',
			        clientId: 'dc5e137829fe492c97668abbaa6acf0a',
			        accessToken: '1565987.467ede5.df4589b73d6d4c70803a7175f2f6192c',
			        template: '<div class="item"><img src="http:{{image}}" /><div class="itemcaption">{{caption}}</div></div>',
							resolution: 'low_resolution',
							sortBy: 'most-recent',
							limit: 10,
			        after: function() {
			        	$("#instafeed").owlCarousel(options);
	              owl = $("#instafeed").data('owlCarousel');
			        }
			    });
			    feed.run();
			    
			    setInterval(function() {
						$( "#instafeed" ).fadeOut( "slow", function() {
							if(typeof owl != 'undefined') {
								owl.destroy();
							}
							$( "#instafeed" ).empty();
							if(feed.hasNext()) {
	            	feed.next(); 
	            } else {
	            	feed.run();
	            }
	            $( "#instafeed" ).fadeIn( "slow");
						});
					}, 30000);
			});
		</script>
</head>

<body id="page-top" class="index">
	<div id="instafeed" class="owl-carousel"></div>

    


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

        
    <!-- Contact Form JavaScript -->
    <script src="js/instafeed.min.js"></script>

</body>

</html>
